<%- include('templates/header.ejs') %>
<h1>Employee List</h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Remaining Holidays</th>
        </tr>
    </thead>
    <tbody id="employee-container"></tbody>
</table>
<div>
    <input type="text" id="employee-name" />
    <button onclick="addEmployee()">Add Employee</button>
</div>

<script>
    function addEmployee() {
        const employeeNameInput = document.getElementById('employee-name');
        const employeeName = employeeNameInput.value;
        const employeeContainer = document.getElementById('employee-container');

        fetch('/api/employees', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ name: employeeName })
        })
        .catch(error => {
            console.error('Error:', error);
        })
        .then(() => {
            employeeNameInput.value = '';
            location.reload();
        });
    }
    
    fetch('/api/employees?joinHolidays=true')
        .then((response) => response.json())
        .then((data) => {
            const employeeContainer = document.getElementById('employee-container');
            data.forEach((employee) => {
                const row = document.createElement('tr');

                const nameCell = document.createElement('td');
                nameCell.textContent = employee.name;
                row.appendChild(nameCell);
                const holidaysCell = document.createElement('td');

                if (employee.holidays && employee.holidays.length > 0) {
                    const holidaysList = document.createElement('ul');
                    employee.holidays.forEach((holiday) => {
                        const holidayItem = document.createElement('li');
                        holidayItem.textContent = `${holiday.period.from.substring(0, 10)} - ${holiday.period.to.substring(0, 10)}`;
                        holidaysList.appendChild(holidayItem);
                    });
                    holidaysCell.appendChild(holidaysList);
                } else {
                    holidaysCell.textContent = 'No approved holidays';
                }
                row.appendChild(nameCell);
                row.appendChild(holidaysCell);
                employeeContainer.appendChild(row);
            });
        });
</script>
<%- include('templates/footer.ejs') %>