<%- include('templates/header.ejs') %>
<h1>Update holiday request</h1>
<form id="main-form">
    <label>
        <sapn>Start date:</sapn>
        <input id="start-date-input" type="date" required />
    </label>
    <br />
    <label>
        <sapn>End date:</sapn>
        <input id="end-date-input" type="date" required />
    </label>
    <br />
    <label>
        <span>Employee:</span>
        <select id="employee-select" required></select>
    </label>
    <br />
    <label>
        <span>Status:</span>
        <select id="status-select" required>
            <option value="pending">pending</option>
            <option value="approved">approved</option>
            <option value="rejected">rejected</option>
        </select>
    </label>
    <br />
    <button type="submit">Update</button>
</form>
<script>
    const id = <%= id %>;
    let loadedEmployeeId;
    document.getElementById('main-form').onsubmit = e => {
        e.preventDefault();
        const request = {
            period: {
                from: document.getElementById('start-date-input').value,
                to: document.getElementById('end-date-input').value
            },
            status: document.getElementById('status-select').value,
            employeeId: +document.getElementById('employee-select').value
        };
        fetch('/api/requests/' + id, {
                method: 'PUT',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(request)
            })
            .then(() => location.href = '/requests');
    }
    fetch('/api/employees')
        .then(response => response.json())
        .then(data => {
            const employeeSelect = document.getElementById('employee-select');
            for (const employee of data) {
                const option = document.createElement('option');
                option.value = employee.id;
                option.textContent = employee.name;
                employeeSelect.appendChild(option);
            }
            if (loadedEmployeeId !== undefined)
                document.getElementById('employee-select').value = String(loadedEmployeeId);
        });
    fetch('/api/requests/' + id)
        .then(response => response.json())
        .then(data => {
            document.getElementById('start-date-input').value = data.period.from.substring(0, 10);
            document.getElementById('end-date-input').value = data.period.to.substring(0, 10);
            document.getElementById('status-select').value = data.status;
            if (document.getElementById('employee-select').hasChildNodes())
                document.getElementById('employee-select').value = String(data.employeeId);
            else
                loadedEmployeeId = data.employeeId;
        });
</script>
<%- include('templates/footer.ejs') %>
