<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
    </style>
    <title>EHMS</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/employees">Employees</a></li>
      <li><a href="/holidays">Holidays</a></li>
      <li><a href="/add-holiday">Add holiday</a></li>
    </ul>
  </nav>